# EXAMPLE "local.cfg" for DSpace.
#
# Any configurations added to this file will automatically OVERRIDE configurations
# of the same name in any of the DSpace *.cfg files. This includes overriding
# settings in any of these files:
#    * [dspace]/config/dspace.cfg
#    * Or any configuration file that is included in 'dspace.cfg'
#     (See "include = [filepath]" settings near the end of dspace.cfg.
#      By default, it includes all [dspace]/config/modules/*.cfg files)
#
# By default, this EXAMPLE file includes a number of commonly overridden configurations.
# * ADD configurations by simply copying them into this file from any existing *.cfg file.
# * REMOVE configurations by simply commenting them out or deleting them below.
#
# Any commented out settings in this file are simply ignored. A configuration
# will only override another configuration if it has the EXACT SAME key/name.
# For example, including "dspace.dir" in this local.cfg will override the
# default value of "dspace.dir" in the dspace.cfg file.
# Similarly, including "oai.solr.url" in this local.cfg will override the
# default value of "oai.solr.url" in the modules/oai.cfg file.
#


##########################
# SERVER CONFIGURATION   #
##########################

# DSpace host name - should match base URL.  Do not include port number
# Changed in local.cfg.j2
dspace.hostname = 192.168.60.4

# DSpace base host URL.  Include port number etc.
# Changed in local.cfg.j2
dspace.baseUrl = http://192.168.60.4

# Full link your end users will use to access DSpace. In most cases, this will be the baseurl followed by
# the context path to the UI you are using.
#
# Alternatively, you can use a url redirect or deploy the web application under the servlet container root.
# In this case, make sure to remove the /${dspace.ui} from the dspace.url property.
#dspace.url = ${dspace.baseUrl}/${dspace.ui}
# Changed in local.cfg.j2
dspace.url = http://192.168.2.96/

# Name of the site
dspace.name = VTechWorks

# Default language for metadata values
default.language = en

#######################
# EMAIL CONFIGURATION #
#######################

# SMTP mail server (allows DSpace to send email notifications)
mail.server = localhost

# From address for mail
# All mail from the DSpace site will use this 'from' address
mail.from.address = no-reply@vtechworks.lib.vt.edu

# When feedback is submitted via the Feedback form, it is sent to this address
# Currently limited to one recipient!
feedback.recipient = vtechworks@vt.edu

# General site administration (Webmaster) e-mail
mail.admin = vtechworks@vt.edu

# Recipient for new user registration emails (defaults to unspecified)
registration.notify = ${mail.admin}

########################
# HANDLE CONFIGURATION #
########################
#
# Canonical Handle URL prefix
#
# Items in DSpace receive a unique URL, stored in dc.identifier.uri
# after it is generated during the submission process.
# 
# If you register with CNRI's handle service at http://www.handle.net/,
# these links can be generated as permalinks using http://hdl.handle.net/
# as canonical prefix. Please make sure to change handle.canonical.prefix
# after registering with handle.net by uncommenting one of the following
# lines, depending if you prefer to use http or https:
# handle.canonical.prefix = http://hdl.handle.net/
# handle.canonical.prefix = https://hdl.handle.net/
#
# Note that this will not alter dc.identifer.uri metadata for existing
# items (only for subsequent submissions), but it will alter the URL
# in JSPUI's 'identifier' message on item record pages for existing items.

# CNRI Handle prefix
# (Defaults to a dummy/fake prefix of 123456789)
#handle.prefix = 123456789
handle.prefix = 10919

#################################################
#   VTECHWORKS BATCH METADATA EDIT              #
#      parameters override modules/bulkedit.cfg #
#################################################

# A hard limit of the number of items allowed to be edited in one go in the UI
# (does not apply to the command line version)
bulkedit.gui-item-limit = 1000

# Metadata elements to exclude when exporting via the user interfaces, or when using the
# command line version and not using the -a (all) option.
bulkedit.ignore-on-export = dc.date.accessioned, dc.date.available, \
                    dc.date.updated, dc.description.provenance


##############################################
# VTECHWORKS CONFIGURATION - COMMON SETTINGS #
##############################################

# The maximum size in megabytes for an item export
# Modified to allow Melissa to export BioMed Central
org.dspace.app.itemexport.max.size = 4096

# Show thumbnails in item lists
xmlui.theme.mirage.item-list.emphasis = file

# Set the max size of a bitstream that can be served inline
# On xmlui, a setting of zero allows all sizes
# This fixed issues where PDFs were not displaying
# directly in some browsers; it also may be required
# for inline video playing.
xmlui.content_disposition_threshold = 0

# Customize the extra namespaced DC elements added to the item (RSS) or entry
# (Atom) element.  These let you include individual metadata values in a
# structured format for easy extraction by the recipient, instead of (or in
# addition to) appending these values to the Description field.
## dc:creator value(s)

# alaw 2016-12-12
webui.feed.item.dc.creator = dc.contributor.author
# af 2016-12-06
webui.feed.item.description =  dc.contributor.author, dc.contributor.editor
webui.feed.item.dc.description = dc.description.abstract

# pg 2016-10-21
# Boolean option for Atom - don't show dc.creator since author is already present
webui.feed.atom.dc.author.show = false
# pg 2016-09-21
webui.feed.items = 10

# Some statistic configurations
#  should the stats be publicly available?  should be set to false if you only
# want administrators to access the stats, or you do not intend to generate
# any
report.public = true
# Control if the statistics pages should be only shown to authorized users
# If enabled, only the administrators for the DSpaceObject will be able to
# view the statistics.
# If disabled, anyone with READ permissions on the DSpaceObject will be able
# to view the statistics.
#View/download statistics
#View/download statistics
usage-statistics.authorization.admin.usage=false
#Search/search result statistics
usage-statistics.authorization.admin.search=true
#Workflow result statistics
usage-statistics.authorization.admin.workflow=true

# pg July 2016
# Number of results to show
# Note that usage is itemcount.usage corresponds to statistics-home as well
usage-statistics.itemcount.usage = 100
usage-statistics.itemcount.search = 10
usage-statistics.itemcount.workflow = 10


# Whether to display collection and community strengths (i.e. item counts)
# XMLUI only makes strengths available to themes if this is set to true! 
# To show strengths in the XMLUI, you also need to create or use a theme which
# displays them.
# WARNING: This feature may slow overall performance
webui.strengths.show = true


# Allow upload to MOVIEPOSTER bundle from web UI
xmlui.bundle.upload = ORIGINAL, METADATA, THUMBNAIL, MOVIEPOSTER, LICENSE, CC-LICENSE

################################
# ClamAV module customization  #
################################
#
# Initial timeout value (in milliseconds) used when the socket is connecting
clamav.socket.timeout = 5000

# Flag indicating whether a scan should stop when the first infected bitstream
# is detected within an item. Normally a complete scan is desired, so default
# value is false. But if items can contain large numbers of bitstreams, the
# display of the results can become unwieldy.
clamav.scan.failfast = true

#---------------------------------------------------------------#
#------------SUBMISSION CURATION CONFIGURATIONS-----------------#
#---------------------------------------------------------------#
# Scan for viruses
# Virus scan during submission is currently not enabled to allow
# for continued DSpace 6 testing.
# Submissions were failing when this was enabled.
# Virus scan as a curation task is still enabled.
#submission-curation.virus-scan = true


#------------------------------------------#
#    curate.cfg module customization       #
#------------------------------------------#
# Friendly names for curation tasks to appear in admin UI
# Also acts as a filter - i.e. tasks not enumerated here can still
# be invoked on cmd line, etc - just not in UI
curate.ui.tasknames = profileformats = Profile Bitstream Formats
curate.ui.tasknames = requiredmetadata = Check for Required Metadata
curate.ui.tasknames = checklinks = Check Links in Metadata
curate.ui.tasknames = vscan = Scan for Viruses
